:root {
    --primary-color: #1e94d8;
    --primary-text-color: #ffffff;
    --secundary-text-color: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: auto;
    font-family: Arial, sans-serif;
}

main {
    background-color: var(--primary-text-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    & .divBackground {
        width: 90%;
        height: 78%;
        border: 1px solid rgba(0, 0, 0, 0.205);
        border-radius: 10px;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
        margin-top: 1.5em;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;

        & .formQuestions {
            width: 100%;
            height: 100%;

            & .divQuestions {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-evenly;
                align-items: center;

                & .input {
                    width: 80%;
                    height: 3.5em;
                    border: 1px solid var(--secundary-text-color);
                    border-radius: 10px;
                    text-align: center;
                    font-size: 14px;
                }

                & .bigText{
                    height: 10em;
                }

                & input::placeholder {
                    font-size: 17px;
                    font-style: italic;
                    text-align: center;
                }

                & .file-label {
                    display: inline-block;
                    padding: 20px 65px;
                    background-color: rgb(184, 183, 183);
                    color: var(--secundary-text-color);
                    font-size: 17px;
                    border-radius: 5px;
                    transition: 0.3s;
                    text-align: center;

                    & img{
                        width: 25px;
                        height: 25px;
                        margin-top: 10px;
                    }
                }

                & .file-input {
                    display: none;
                }

                & .btn-input {
                    width: 80%;
                    height: 4em;
                    background-color: var(--primary-color);
                    color: var(--primary-text-color);
                    border-radius: 10px;
                    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.450);
                    border: none;

                    & span {
                        font-size: 17px;
                    }
                }
            }
        }
    }
}