:root {
    --primary-color: #1e94d8;
    --primary-text-color: #ffffff;
    --secundary-text-color: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    background-color: var(--primary-text-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.divBackground {
    width: 90%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.205);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}

.divQuestions {
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;

    & .divSexo {
        height: 20%;
        color: var(--secundary-text-color);
        text-align: center;
        align-content: center;

        & .radio{
            accent-color: var(--primary-color);
        }

        & #sexFem{
            margin-left: 20px;
        }
    }
}

.divSplit {
    width: 100%;
    height: 60%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    & .divForm {
        width: 50%;
        height: 100%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        padding-left: 15px;

        & .input-form {
            width: 70px;
            height: 30px;
            border-radius: 10px;
            border: 1px solid black;
            text-align: end;
            padding: 5px;
            font-size: 15px;
        }

        & label>#peso {
            margin-top: 20px;
            margin-left: 5px;
        }
    }

    .divImgIMC {
        width: 50%;
        height: 100%;

        & .imgIMC {
            width: 100%;
            height: 100%;
        }
    }

}

.divButtom {
    width: 100%;
    height: 20%;
    text-align: center;
    align-content: center;

    & .btnCalc {
        width: 70%;
        height: 40px;
        border-radius: 10px;
        border: 1px solid rgba(0, 0, 0, 0.205);
        background-color: var(--primary-color);
        color: var(--primary-text-color);
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
        font-size: 18px;
        font-weight: 600;
    }
}

.divResult {
    width: 100%;
    height: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & .divHr {
        width: 100%;
        height: 20%;
        text-align: -webkit-center;
        align-content: center;

        & .hr {
            width: 80%;
            border: 1px solid rgba(0, 0, 0, 0.247)
        }
    }

    & p {
        font-size: 20px;
        height: 30%;
        align-content: center;

        & span {
            font-size: 40px;
            font-weight: 800
        }
    }

    & .barraCores {
        width: 80%;
        height: 19%;
        margin-top: 20px;
        display: flex;
        flex-flow: row nowrap;
        border: 1px solid black;
        border-radius: 10px;


        & .barraMagresa {
            width: 11%;
            height: 100%;
            background-color: rgb(74, 169, 233);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        & .barraNormal {
            width: 19%;
            height: 100%;
            background-color: rgb(57, 226, 57);
        }

        & .barraExcesso {
            width: 19%;
            height: 100%;
            background-color: yellow;
        }

        & .barraObesidade {
            width: 23%;
            height: 100%;
            background-color: orange;
        }

        & .barraSuperObesidade {
            width: 28%;
            height: 100%;
            background-color: rgb(211, 6, 6);
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    & .marcadorIMC {
        width: 80%;
        height: 16%;

        & img {
            width: 20px;
            rotate: 270deg;
            /*Range 0px até 280px*/
            margin-left: 140px;
        }
    }

}

.resultText {
    width: 100%;
    height: 40%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    & h1{
        font-size: 2em;
        margin: 15px 0px;
    }

    & p{
        width: 80%;
        height: 70%;
    }
}