:root {
    --primary-color: #1e94d8;
    --primary-text-color: #ffffff;
    --secundary-text-color: #000000;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,
html {
    height: auto;
    font-family: Arial, sans-serif;
}

main {
    margin: 6em 0;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

.exercicios{
    width: 90%;
    height: auto;
}

.musculo {
    width: auto;
    height: 60px;
    text-align: center;
    align-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
    transform: skew(20deg);
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-size: 50px;
    font-family: fantasy;
    letter-spacing: 1px;
    padding: 0px 40px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.274);
}
